@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Akatab:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: "Akatab", sans-serif;
    font-weight: 300;
    font-size: 20px;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

:root {
    --main-bg-color-bone: #F6F6F3;
    --main-bg-color-bone-opacity: rgba(246, 246, 243, 0.5);
    --font-color-black: #000;
    --main-light-accent-color: #EEEDEA;
    --main-light-accent-color-opacity: #eeedea86;
}

body {
    background: var(--main-bg-color-bone);
    margin: 0;
}

header {
    background: var(--main-bg-color-bone);
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    max-height: 110px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    font-family: "Abyssinica SIL", serif;
    font-size: 64px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
}

.nav-item {
    text-decoration: none;
    color: var(--font-color-black);
}

.searchncart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.search input {
    background-color: var(--main-bg-color-bone);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

.search input:focus-visible {
    outline-color: var(--main-light-accent-color);
    outline-style: solid;
}

/* Main Page */
.intro {
    max-height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.left-decoration-text {
    margin-left: 40px;
    padding: 40px 0;
    max-height: 760px;
    grid-area: 1 / 1 / 2 / 2;
}

.left-decoration-text .top-text {
    margin-bottom: 40px;
    letter-spacing: 35%;
}

.left-decoration-text .bottom-text {
    margin-top: 90px;
    letter-spacing: 35%;
}

.promo {
    width: 500px;
    margin: auto;
    max-height: 760px;
    padding: 20px;
    grid-area: 1 / 2 / 2 / 4;

    background-image: repeating-linear-gradient(90deg, #000000, #000000 25px, transparent 25px, transparent 45px), repeating-linear-gradient(180deg, #000000, #000000 25px, transparent 25px, transparent 45px), repeating-linear-gradient(90deg, #000000, #000000 25px, transparent 25px, transparent 45px), repeating-linear-gradient(180deg, #000000, #000000 25px, transparent 25px, transparent 45px);
    background-position: left top, right top, left bottom, left top;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
}

.promo .image {
    border-bottom: 2px dotted var(--font-color-black);
    width: 100%;
    text-align: center;
}

.promo .image img {
    width: 40vh;
}

.promo h3 {
    font-family: "Abyssinica SIL", serif;
    font-size: 26px;
    font-weight: 600;
}

.promo .button {
    margin: 20px;
    background: var(--font-color-black);
    color: var(--main-bg-color-bone);
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    justify-self: center;
    cursor: pointer;
}

/* Items Page */
.items {
    margin: 20px 40px;
}

.filters {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    align-items: center;
    margin: auto;
}

.filters ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px
}

.filters ul li.active {
    border-bottom: 2px solid var(--font-color-black);
}

.cards-wrapper {
    margin-top: 40px;
    display: grid;
    justify-content: space-between;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    min-width: 260px;
    max-width: 350px;
    z-index: 2;
}

.card .card-image {
    padding: 10px;
    height: 260px;
    background: var(--main-light-accent-color-opacity);
    overflow: hidden;
}

.card .card-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.card-text-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    background: var(--main-light-accent-color-opacity);
    justify-content: space-between;
    align-items: end;
}

.card-item-name {
    margin: 10px 0;
}

.card-item-price {
    margin: 5px 0;
    font-size: 16px;
}

.add-to-cart {
    padding-bottom: 10px;
}

.items .bg-svg {
    user-select: none;
    position: absolute;
    pointer-events: none;
}

.items .star-1 {
    right: 0;
    z-index: 0;
}

.items .star-2 {
    right: 15vw;
    top: 1300px;
    z-index: 0;
}

.items .star-3 {
    left: -150px;
    top: 800px;
    z-index: 0;
}


/* Footer styles */

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    letter-spacing: 30%;
    cursor: default;
}

.left-text {
    padding: 40px;
    padding-top: 0;
    font-size: 14px;
}

.mid-content {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--font-color-black);
    gap: 100px;
    padding-top: 40px;
}

.mid-content .text-left,
.pagination,
.pagination span {
    font-size: 14px;
}

.mid-content .text-right span {
    font-size: 14px;
}

/* Brands Section */
.section-label {
    font-weight: 500;
    letter-spacing: 25%;
    margin-bottom: 30px;
}

.brands {
    height: 85vh;
    margin: 50px 40px;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.5fr);
    gap: 40px;
    padding: 40px;
}

.brands .brands-info {
    grid-column: 1;
}

.brands h2 {
    margin: 25px 0;
    font-family: "Abyssinica SIL", serif;
    line-height: 1;
    font-size: 84px;
}

.brands-collage {
    display: grid;
    align-items: center;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);

    aspect-ratio: 1.2;
    position: relative;
}

.logo-image {
    width: clamp(60px, 9vw, 150px);
    max-width: 100%;
}

.balmain {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}

.erd {
    grid-column: 2 / 5;
    grid-row: 3 / 5;
}

.vans {
    grid-column: 6 / 8;
    grid-row: 3 / 5;
}

.bidjan {
    grid-column: 4 / 6;
    grid-row: 4 / 7;
}

.chrome {
    width: clamp(200px, 9vw, 150px);
    grid-column: 9 / 12;
    grid-row: 6 / 9;
}

.man-image {
    grid-column: 2 / 6;
    grid-row: 7 / 9;
    padding: 10px;
}

.boot-image {
    grid-column: 10 / 13;
    grid-row: 2 / 5;
}

.man-image,
.boot-image {
    width: clamp(120px, 20vw, 320px);
    max-width: 100%;
}

.bottom-text {
    margin-top: 50px;
    letter-spacing: 35%;
}

.view-all-brands {
    text-align: right;
    align-self: end;
    grid-column: 9 / 13;
    grid-row: 9;
    font-weight: 500;
    cursor: pointer;
}

/* ARCHIVE */

.archive {
    height: 85vh;
    margin: 50px 40px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.archive h2 {
    margin: 25px 0;
    font-family: "Abyssinica SIL", serif;
    line-height: 1;
    font-size: 84px;
}

.rb-label {
    text-align: right;
    align-self: flex-end;
    letter-spacing: 35%;
}

.archive-collage {
    position: relative;
}

.archive-image {
    max-height: 60vh;
    position: absolute;
}

.jackets-1 {
    right: 0;
}

.jackets-1 {
    bottom: 7vh;
    right: 0;
}

.sticker-stss {
    max-height: 35vh;
    top: -20px;
    left: -80px;
}

.bag {
    max-height: 25vh;
    bottom: -40px;
    left: -125px;
    box-shadow: -1px -2px 2px 0px var(--main-bg-color-bone);
}

.jackets-2 {
    max-height: 30vh;
    bottom: 50px;
    left: 50px;
}

.chair {
    max-height: 30vh;
    top: 150px;
    left: 170px;
}

.sticker {
    max-height: 20vh;
    bottom: -85px;
    right: 90px;
}

.archive-collage .star-1 {
    position: absolute;
    left: 295px;
}